button, input, select, textarea {
    margin-top: 5.5px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

input[type=text], select {
    margin-right: 5px;
}

.tradehistory {
    height:320px;
    overflow-y:scroll;
}

.Sell {
    color:red;
}

.Buy {
    color:green;
}

#buttons_bar input, select {
    margin:0px;
    margin-top:-85px;
    margin-right:5px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f8f5f0;
 }

.table-striped td {
    padding:2px;
}

.table-striped th {
    padding:2px;
}

.transfer_plus {
    margin-left:5px;
}