button, input, select, textarea {
    margin-top: 5px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 15px;
}

input[type=text], select {
    margin-right: 5px;
}

.tradehistory {
    height:270px;
    overflow-y:scroll;
}

.Sell {
    color:red;
}

.Buy {
    color:green;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f8f5f0;
 }

.table-striped td {
    padding:2px;
}

.table-striped th {
    padding:2px;
}

.button_margin_left {
    margin-left:5px;
}

hr {
    margin:0px;
}